@use "../../styles/variables.scss" as *;

.markmap {
  &>.global-markmap-outer {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    backdrop-filter: blur(4px);
    display: none;
    overflow: hidden;

    &.active {
      display: inline-block;
    }

    &>.global-markmap-container {
      border: 1px solid var(--lightgray);
      background-color: var(--light);
      border-radius: 5px;
      box-sizing: border-box;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 80vh;
      width: 80vw;
      transition: width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, transform 0.2s ease;

      &.fullscreen {
        top: 0;
        left: 0;
        transform: none;
        width: 100vw;
        height: 100vh;
      }

      @media all and not ($desktop) {
        width: 90%;
      }

      #global-markmap {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        color: var(--darkgray);
        cursor: grab;
        pointer-events: all;


        pre {
          padding: 0;
          position: static;
        }

        & span {
          position: static;

          .katex-html {
            display: none;
          }
        }

        code {
          border-radius: 3px;
          padding: 0.12em;
        }

        img {
          margin-top: 1em;
          margin-bottom: 0;
        }
      }

      #global-markmap g.markmap-node {
        pointer-events: all;
      }

      #global-markmap g.markmap-node text,
      #global-markmap g.markmap-node foreignObject,
      #global-markmap g.markmap-node foreignObject * {
        user-select: none !important;
        -webkit-user-select: none !important;
        pointer-events: none !important;
      }

      #global-markmap g.markmap-node foreignObject a {
        pointer-events: auto !important;
        user-select: text !important;
      }

      #global-markmap-toolbar {
        position: absolute;
        top: 10;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 10;
        color: var(--italic);

        .mm-toolbar-brand {
          display: none;
        }

        .mm-toolbar {
          display: flex !important;
          flex-direction: row !important;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;

          .mm-toolbar-item {
            cursor: pointer;
          }

          .active {
            filter: drop-shadow(0 0 0 currentColor) drop-shadow(0 0 2px currentColor);
          }
        }
      }
    }
  }

}

.markmapmode {
  cursor: pointer;
  padding: 0;
  position: relative;
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  text-align: inherit;
  flex-shrink: 0;
  display: flex;

  & svg {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(270deg);
    fill: var(--darkgray);
    stroke: var(--darkgray);
    transition: opacity 0.1s ease;
  }
}
