@use "./base.scss";

// put your custom CSS here!

.center article,
p {
    @media (min-width: 1400px) {
        font-size: 1.2rem;
        line-height: 1.6;
    }
}

footer {
    margin-bottom: 2rem;
    margin-top: 2rem;

    & p {
        font-size: small;
    }
}

// .explorer-content .folder-container {
//     padding: 0.1em 0;

//     @media (min-width: 1400px) {
//         padding: 0.1em 0;
//     }
// }

.explorer-content li {
    padding: 0.2em 0;

    @media (min-width: 1400px) {
        padding: 0.4em 0;
        line-height: 1.3;
    }
}

.center li {
    margin: 0.3em;
    list-style-type: disc;

    @media (min-width: 1400px) {
        margin: 0.6em 0;
    }

}

.center ul {
    padding-left: 1.2em;

    @media (min-width: 1400px) {
        padding-left: 1.4em;
    }
}

.page>#quartz-body>.sidebar.right>.toc {
    @media (min-width: 1400px) {
        li {
            margin: 0.4em 0;
        }
    }

    // @for $i from 0 through 5 {
    //     .depth-#{$i} {
    //         font-size: #{1 - ($i * 0.05)}em;
    //     }
    // }

    // .depth-0 {
    //     font-size: 1em;
    // }

    .depth-1 {
        font-size: 0.85em;
    }

    .depth-2 {
        font-size: 0.77em;
    }

    .depth-3 {
        font-size: 0.70em;
    }

    .depth-4 {
        font-size: 0.65em;
    }

    .depth-5 {
        font-size: 0.6em;
    }
}

.page>#quartz-body .sidebar {

    padding: 2rem;

    @media (min-width: 1024px) {
        padding: 6rem 2rem 2rem;
    }
}


// body {
//     --outline-guideline-width: var(--size-2-1);
//     --outline-guideline-color: var(--color-accent);
//     --outline-item-height: calc(var(--nav-item-size) * 1.8);
// }

// li {
//     position: relative;
// }


// li:hover>ul>li:has(~li:hover)::before {
//     content: "";
//     width: var(--outline-guideline-width);
//     position: absolute;
//     background-color: var(--outline-guideline-color);
//     top: calc(var(--outline-item-height) / 2 * -1);
//     left: calc(-2px - 2em - var(--size-4-4));
//     height: calc(100% - var(--outline-item-height) + var(--size-4-8) + 2px);
// }


// li:hover>ul>li:hover::before {
//     content: "";
//     position: absolute;
//     top: calc(var(--outline-item-height) / 2 * -1);
//     left: calc(-2px - 2em - var(--size-4-4));
//     bottom: calc(100% - (var(--outline-item-height) + var(--size-4-2)) / 2 + 1px);
//     width: calc(1em + var(--size-4-4) - 2px);
//     border-bottom-left-radius: var(--radius-m);
//     border-bottom: var(--outline-guideline-width) solid var(--outline-guideline-color);
//     border-left: var(--outline-guideline-width) solid var(--outline-guideline-color);
// }

ul li {
    // list-style-type: disc;
}
