@use "./base.scss";

// put your custom CSS here!
footer {
    margin-bottom: 2rem;
    margin-top: 2rem;

    & p {
        font-size: small;
    }

}

li {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.page>#quartz-body>.sidebar.right>.toc {
    // @for $i from 0 through 5 {
    //     .depth-#{$i} {
    //         font-size: #{1 - ($i * 0.05)}em;
    //     }
    // }

    // .depth-0 {
    //     font-size: 1em;
    // }

    .depth-1 {
        font-size: 0.85em;
    }

    .depth-2 {
        font-size: 0.77em;
    }

    .depth-3 {
        font-size: 0.70em;
    }

    .depth-4 {
        font-size: 0.65em;
    }

    .depth-5 {
        font-size: 0.6em;
    }

}



// body {
//     --outline-guideline-width: var(--size-2-1);
//     --outline-guideline-color: var(--color-accent);
//     --outline-item-height: calc(var(--nav-item-size) * 1.8);
// }

// li {
//     position: relative;
// }


// li:hover>ul>li:has(~li:hover)::before {
//     content: "";
//     width: var(--outline-guideline-width);
//     position: absolute;
//     background-color: var(--outline-guideline-color);
//     top: calc(var(--outline-item-height) / 2 * -1);
//     left: calc(-2px - 2em - var(--size-4-4));
//     height: calc(100% - var(--outline-item-height) + var(--size-4-8) + 2px);
// }


// li:hover>ul>li:hover::before {
//     content: "";
//     position: absolute;
//     top: calc(var(--outline-item-height) / 2 * -1);
//     left: calc(-2px - 2em - var(--size-4-4));
//     bottom: calc(100% - (var(--outline-item-height) + var(--size-4-2)) / 2 + 1px);
//     width: calc(1em + var(--size-4-4) - 2px);
//     border-bottom-left-radius: var(--radius-m);
//     border-bottom: var(--outline-guideline-width) solid var(--outline-guideline-color);
//     border-left: var(--outline-guideline-width) solid var(--outline-guideline-color);
// }

ul li {
    // list-style-type: disc;
}
