@use "./base.scss";
@use "./variables.scss" as *;

// put your custom CSS here!

.center article,
p {
  @media (#{$desktop}) {
    font-size: 1.2rem;
    line-height: 1.6;
  }
}

footer {
  margin-top: 3em;

  & p {
    font-size: small;
  }
}

.explorer-content li {
  padding: 0.2em 0;

  @media (#{$desktop}) {
    padding: 0.4em 0;
    line-height: 1.3;
  }
}

.center li {
  margin: 0.3em;
  list-style-type: disc;

  img,
  video,
  audio,
  iframe,
  pre,
  code,
  svg {
    vertical-align: top;
  }

  @media (#{$desktop}) {
    margin: 0.6em 0;
  }

}

.center .tags li {
  margin: 0.1em 0;
  list-style-type: disc;

  @media (#{$desktop}) {
    margin: 0.1em 0;
  }
}

.tag-link {}

.center ul {
  padding-left: 1.2em;

  @media (#{$desktop}) {
    padding-left: 1.4em;
  }
}

.footnotes ol {
  padding-left: 1.2em;

  @media (#{$desktop}) {
    padding-left: 1.4em;
  }
}

.center h1 {
  // background-color: var(--tertiary);
  // background-image: linear-gradient(30deg, var(--tertiary) 10%, var(--primary) 20%);
  // -webkit-background-clip: text;
  // -moz-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // -moz-text-fill-color: transparent;
  color: var(--primary);
  margin-top: 2.5em;
}

.center h2 {
  margin-top: 1.7em;
}

.page>#quartz-body>.sidebar.right>.toc {

  @media (#{$desktop}) {
    li {
      margin: 0.4em 0;
    }
  }

  // @for $i from 0 through 5 {
  //     .depth-#{$i} {
  //         font-size: #{1 - ($i * 0.05)}em;
  //     }
  // }

  // .depth-0 {
  //     font-size: 1em;
  // }

  .depth-1 {
    font-size: 0.85em;
  }

  .depth-2 {
    font-size: 0.77em;
  }

  .depth-3 {
    font-size: 0.70em;
  }

  .depth-4 {
    font-size: 0.65em;
  }

  .depth-5 {
    font-size: 0.6em;
  }
}

.page>#quartz-body .sidebar {

  padding-top: 2rem;
  padding-bottom: 2rem;

  @media (min-width: #{$pageWidth}) {
    padding-top: 6rem;
    padding-bottom: 6rem;
    // padding: 6rem 2rem 2rem;
  }
}

.page>#quartz-body .left {

  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: #{$pageWidth}) {
    padding-left: 0.5rem;
    padding-right: 1.5rem;
  }
}

.page>#quartz-body .right {

  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: #{$pageWidth}) {
    padding-left: 1.5rem;
    padding-right: 0.5rem;
  }
}

.popover .section {
  grid-template-columns: minmax(0, 1fr) fit-content(8em);
}

.page-listing {
  li.section-li {

    &>.section {
      display: grid;
      grid-template-columns: minmax(0, 1fr) fit-content(8rem) !important;

      &>.desc {
        background-color: transparent;
        min-width: 0;

        h4,
        h5,
        h6 {
          margin: 0;
        }

        &>a {
          word-break: keep-all;
        }
      }

      &>.meta {
        margin: 0 1em 0 0;
        opacity: 0.6;
      }

      &>.tags {
        display: flex;
        padding: 0;
        margin-top: 0.2em;
        margin-bottom: 0.6em;
        justify-content: start;
      }

    }
  }

}

.before-footer {
  grid-area: grid-before-footer;
  padding-top: 1rem;

  @media (#{$desktop}) {
    padding-top: 0;
  }
}

.page-footer {
  padding-bottom: 1.5rem;

  @media (#{$desktop}) {
    padding-bottom: 1rem;
  }
}

strong {
  color: var(--tertiary);
}

em {
  padding-right: 0.2em;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: flex-end;
}

.flex-child {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
}

.flex-child.flex-desktop-only {
  display: none;
}


@media (min-width: 1025px) {
  .flex-container {
    flex-wrap: wrap;
  }

  .flex-child.first-child {
    flex-grow: 1;
    flex-basis: 100%;
    order: 42;
  }

  .flex-child.other-child {
    flex-basis: auto;
  }

  .flex-child.flex-desktop-only {
    display: block;
  }

}

.remark-slide-container .remark-slide-content {
  background-color: var(--light);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: color-mix(in srgb, var(--light) 80%, transparent);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2.0rem;
  }

  h1 {
    color: var(--primary);
  }

  .tags {
    gap: .6rem;
  }

  li {
    line-height: 1.8;
    list-style-type: disc;
    list-style-position: outside;

    img,
    video,
    audio,
    iframe,
    svg {
      vertical-align: top;
    }

    blockquote {
      margin-left: 0;
    }

  }

  p {
    margin: 0;
  }

  .remark-slide-number {}

  pre {
    padding: 0;
  }

  .remark-code {
    padding: 7px;
  }

  img {
    margin: 0 0;
  }

  video,
  audio,
  iframe {
    margin: 10px 0;
  }

  .callout-title .callout-icon {
    margin: auto 0;
  }
}
